html {
  scroll-behavior: smooth;
}

.p-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.p-card-content {
  padding: 0;
}

.line-clamp {
  height: 3.2em;
  line-height: 1.6em;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}

.p-dialog-content {
  height: 100%;
}

.sec-layout {
  @apply px-10 sm:px-20 md:px-32;
}

.sec-layout-vertical {
  @apply my-10;
}

.icon-style {
  @apply text-gray-900 text-xl cursor-pointer;
}

.sec-bg {
  @apply bg-white shadow-md;
}
